<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">L10n</lang>
	</name>
	<author>
		<lang name="default">Web studio stfalcon.com</lang>
	</author>
	<homepage>http://stfalcon.com/</homepage>
	<version>0.4.1</version>
	<requires>
		<livestreet>1.0</livestreet>
		<plugins>
		</plugins>
	</requires>
	<description>
		<lang name="default">To create a multilingual website (different interface and topics languages)</lang>
		<lang name="russian">Для создания мультиязычного сайта (разные языки интерфейса и записей)</lang>
		<lang name="ukrainian">Для створення багатомовного сайта (різні мови інтерфейсів і публікацій)</lang>
	</description>
</plugin>
